<div class="container-fluid">
  <div *ngIf="profile">
    <div >
        <div >
          User since: <small> {{profile.created_at|date}}</small> <br>
          Name: <small> {{profile.name}} </small><br>
          Username: <small>{{profile.login}}</small> <br>
          <span *ngIf= 'profile.company'>, works at {{profile.company}}</span>
         Location: <small> {{profile.location}}</small>
        </div>
      <div class="row">
        <div class="col-md-2">
          <img width="200" class="img-circle img-responsive" src="{{profile.avatar_url}}" alt="profile-img">
        </div>
        <div class="col-md-6">
          <ul >
            <li *ngIf = 'profile.bio' >
               {{profile.bio}}
            </li>
            <li *ngIf = 'profile.hireable' >
               {{profile.hireable}}
            </li>
            <li *ngIf = 'profile.blog' >
              {{profile.blog}}
           </li>
           <li *ngIf = 'profile.email'  >
            Email: <a href="{{profile.email}}" target="_blank">{{profile.email}}</a>
         </li>
         <li *ngIf = 'profile.organizations_url' >
          org: <a href="{{profile.organizations_url}}" target="_blank">{{profile.organizations_url}}</a>
       </li>
          </ul>
        </div>
        <div class="col-md-4">
          <div >
            <p>
              <span class="label default">  {{profile.followers}} Followers  </span>
              <span class="label primary">  Following {{profile.following}}  </span>
              <span class="label success">  {{profile.public_gists}} Public Gists  </span>
              <span class="label info">  {{profile.public_repos}} Public Repos  </span>
            </p>
            <p><a class="btn btn-success btn-sm" href="{{profile.html_url}}" target="_blank">View  Profile on GitHub </a></p>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Repos</h3>
                <div class="panel-body" *ngFor='let repo of '>
                  <p></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
