<div class="container-fluid " >
  <h1>Git Google App</h1>
  <p>Search Your repos <br> on click! </p>
  <div class="card-body container">
    <form (submit)='searchUser()' class="form-inline">
      <div class="form-group search">
        <input [(ngModel)]="githubUser" name="user" type="search" size="70" class="form-control input" placeholder="Github user" required><span>br</span>
        <input type="submit" value="Search" class="btn btn-secondary btn-sm ">
      </div>
    </form>
    <br>
    <br>
    <br>
    <hr>
    <div class="row">
      <div class="col">
        <app-profile [githubProfile]="gihubProfile"></app-profile>
      </div>
    </div>
    <br>
    <br>
    <br>
    <hr>
    <div class="row">
      <div class="col">
        <app-repos [githubRepos]='githubRepos' ></app-repos>
      </div>
    </div>
  </div>
  <footer>
    <div class="row">
      <div class="col-md-4">
      </div>
      <div class=" col-md-4">
        <h4>
          MIT License

          Copyright (c) 2021 Brian M.Nderitu
        </h4>

      </div>
      <div class="col-md-4"></div>
    </div>
  </footer>
</div>
